.App {
  text-align: center;
  max-width: 900px;
  padding: 20px 70px;
  background-color: #e8e2f8;
  border-radius: 15px;
  margin: 50px auto;
  margin-bottom: 10px;
}
.App-header {
  margin: 20px;
}
.App-logo {
  max-width: 250px;
}
.App-footer {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}
