input {
  margin: 10px auto;
  line-height: 50px;
  color: #70757a;
  border: 1px solid #dadce0;
  border-radius: 7px;
  width: 700px;
  padding-left: 14px;
  font-size: 18px;
}
section {
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  margin: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.source {
  font-size: 13px;
  text-decoration: none;
  color: #70757a;
  margin-bottom: 0;
}
.source a {
  color: #70757a;
}
